.chatbot-icon {
  position: fixed;
  bottom: 40px;
  right: 20px;
  background-color: #F5941F;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.chatbot-popup {
  position: fixed;
  bottom: 120px;
  right: 20px;
  width: 350px;
  height: 500px;
  background-color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.chatbot-header {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: #0066ff;
  color: white;
  border-radius: 10px 10px 0 0;
}

.chatbot-header h2{
  margin-top: 10px;
  font-size: large;
}

.chatbot-header img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.chatbot-close {
  background: none;
  border: none;
  color: white;
  font-size: 22px;
  cursor: pointer;
  margin-left: auto;
}

.chatbot-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  /* background-color: #f2f2f2; */
  display: flex;
  flex-direction: column;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  max-width: 80%;
  font-size: small;
}

.message.user {
  align-self: flex-end;
  background-color: #0066ff;
  color: white;
  border-radius: 15px 15px 0 15px;
}

.message.bot {
  align-self: flex-start;
  background-color: #e9e9e9;
  color: black;
  border-radius: 15px 15px 15px 0;
}

.chatbot-input {
  display: flex;
  padding: 10px;
  background-color: white;
  border-top: 1px solid #ccc;
}

.chatbot-input input {
  border: 1px solid #ccc;
  border-radius: 5px;
  flex: 1;
  padding: 8px;
}

.chatbot-input button {
  background-color: #0066ff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.chatbot-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.chatbot-button {
  background-color: #048eeb;
  color: black;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  margin-bottom: 5px;
  border-radius: 20px;
  cursor: pointer;
}

.chatbot-button:hover {
  background-color: #fa6705;
}
